NODE_ENV="DEVELOPMENT"
PORT=5000
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="mongodb://localhost:27018/market_mind_db?replicaSet=rs0&directConnection=true"

# jwt
EXPIRES_IN = "15m"
REFRESH_EXPIRES_IN = "7d"
SALT_ROUND = "12"

# cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=

# META
META_APP_ID=
META_REDIRECT_URI="http://localhost:5000/api/auth/facebook/callback"
META_APP_SECRET=
META_APP_CONFIG_ID=
META_WEBHOOK_TOKEN=
